.center{
    justify-content: center;
    align-items: center;
  }
  
  .between{
    justify-content: space-between;
  }

  .row{
    flex-direction: row;
    justify-content: space-around;
  }

  .column{
    flex-direction: column;
  }

  .d-flex{
    display: flex;
  }

  .w-100{
    width: 100%;
  }


.wrap{
    flex-wrap: wrap;
}

.start{
    justify-content: flex-start;
}