body {
    background-color: var(--PurpleDark);
    padding: 10px;
    color: var(--textColor);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
    background-color: var(--PurpleLight);
    box-shadow: inset 0px 0px 2px 1px var(--textColor);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--PurpleMid);
    box-shadow: inset 0px 0px 2px 3px var(--shadow);
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0px 0px 2px 4px var(--shadow);
}
  
  h1 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    font-size: 35px;
  }

  h3 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
  
  h4 {
    font-weight: normal;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }

  h5 {
    font-weight: normal;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
  
  nav {
    /* position: fixed; */
    float: left;
    max-width: 230px;
    width: 90%;
    background-color: var(--BlueDark);
    padding: 8px;
    border-radius: 10px;
    max-height: 300px;
    margin-left: 5px;
    margin-top: 5px;
  }
  
  .centralize {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quadrado {
    background-color: var(--BlueDark);
    max-width: 1200px;
    min-width: 800px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .botaoCima {
    background-color: var(--PurpleLight);
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    aspect-ratio: 1/1;
  }
  
  .iconeCima {
    color: var(--textColor);
    width: 80%;
    object-fit: cover;
  }
  

  
  .profile {
    max-width: 1200px;
    width: 100%;
  }

  
  .botoes {
    display: block;
    padding-left: 11%;
    padding-top: 5px;
  }
  
  .botoesPublicacao {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--PurpleLight);
    cursor: pointer;
  }
  
  .iconeNav {
    max-width: 55px;
    width: 90%;
    margin-right: 1.5rem;
    min-width: 55px;
  }
  
  .aNav {
    display: flex;
    text-decoration: none;
    color: var(--textColor);
  }
  
  .logo {
    max-width: 300px;
    width: 90%;
    float: right;
    max-height: 300px;
  }
  
  .topo {
    display: flex;
    justify-content: space-between;
  }

  .profile-info
  {
    width: 1200px;
  }

  .image
  {
    width: 100%;
    height: 100%;
    border-radius: 45%;
    object-fit: cover; 
    object-position: center;
  }

  .profile-image{
    width: 125px;
    height: 125px;
    border-radius: 45%;
    overflow: hidden;
  }


  .btn {
    background-color: var(--PurpleDark);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 4px 6px var(--shadow);
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Para melhor usabilidade em dispositivos móveis */
    touch-action: manipulation;
    cursor: pointer;
}

.profileEdit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.profile-edit {
  max-width: 750px;
  width: 90%;
}

/* .btn:hover {
    background-color: var(--PurpleDarkHover);
    transform: translateY(-2px);
} */

.btn:active {
    background-color: var(--PurpleMid);
    transform: translateY(2px);
}



.profile-followers{
  margin: 15px;
}

.profile-followins{
  margin: 15px;
}

.profile-name{
margin-left: 5px;
}

.profile-description{
  margin-left: 5px;
}


.profile-posts
{
  margin-top: 20px; 
  width: 100%;
}

.imgPost-box {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
}

.botaopost {
  cursor: pointer;
}


.image-post
{
  display: block;
  max-width: 280px;
  width: 90%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  float: left;
  margin: 5px;
}


.modal {
  display: none; /* Oculto por padrão */
  position: fixed;
  z-index: 1; /* Fica em cima de outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Adiciona rolagem se necessário */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
}

/* Conteúdo do modal */
.modal-content {
  background-color: #fff;
  margin: 2% auto; /* Centraliza o modal */
  padding: 20px;
  border: 1px solid #888;
  width: 100%; 
  height: 800px;/* Largura do modal */
  max-width: 600px; /* Largura máxima do modal */
  border-radius: 4px;
}

/* Botão de fechar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.modal-body{
  border-top: 1px solid rgba(128, 128, 128, 0.418);
  width: 100%;
  height: 100%;
}

.forms-profile
{
  align-items: center;
  width: 100%;
  height: 100%;
}

.center #imagem
{
  display: none;
}

.input {
  max-width: 80%;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
}

.img{
  max-width: 90%;
  width: 200px;
  cursor: pointer;
  border-radius: 50%;
  height: 179px;
  margin-bottom: 1.5rem;
}

.group
{
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.modal-footer{
  border-top: 1px solid rgba(37, 37, 37, 0.418);
  width: 100%;
  height: 100px;
}

.aaaa {
  margin-bottom: 15px;
}

.quadradinho {
  background-color: var(--PurpleLight);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 120px;
}


.close-post {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-post:hover,
.close-post:focus {
  color: #000;
  text-decoration: none;
}

.text-center
{
  text-align: center;
}

.modal-header h2
{
  width: 100%;
}


.modal-body-post{
  border-top: 1px solid rgba(128, 128, 128, 0.418);
  width: 100%;
  height: 90%;
}


.post-image-modal
{
  margin-top: 20px;
  width: 600px;
  height: 475px;
}

.modal-footer-post{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(37, 37, 37, 0.418);
  width: 100%;
  height: 100%;
}


.modal-content-post {
  background-color: #fff;
  margin: 2% auto; /* Centraliza o modal */
  padding: 20px;
  border: 1px solid #888;
  width: 100%; 
  height: 700px;/* Largura do modal */
  max-width: 600px; /* Largura máxima do modal */
  border-radius: 4px;
}

/* .imgComentario {
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
}

.comentario {
  background-color: var(--PurpleLight);
  display: flex;
  border-radius: 10px;
  max-width: 600px;
  min-width: 600px;
  width: 90%;
  padding: 5px;
  text-align: left;
}

.comentario h3 {
  overflow-wrap: break-word;
  max-width: 80%;
}

.formComentario {
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 90%;
  z-index: 20;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  gap: 5px;
}

.botaoComentario {
  float: right;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: none;
  background-color: var(--PurpleDark);
}

.send {
  padding: 0;
  max-width: 25px;
  width: 90%;
  color: var(--white);
}

#modalComentarios {
  background-color: var(--BlueDark);
}

#modalComentarios > .centralize::-webkit-scrollbar {
  width: 8px;
}

#modalComentarios > .centralize::-webkit-scrollbar-thumb {
  background-color: var(--PurpleDark);
  border-radius: 10px;
}

#modalComentarios > .centralize::-webkit-scrollbar-thumb:hover {
  background-color: var(--PurpleDarkHover);
}


#modalComentarios > .centralize {
  position: relative;
  max-height: 80vh;
  overflow: auto;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  overflow-x: hidden;
} */