:root {
    --PurpleDark: #6f2dbd;
    --PurpleMid: #a663cc;
    --PurpleLight: #b298dc;
    --BlueDark: #b8d0eb;
    --BlueLight: #b9faf8;

}

.dark {
    --PurpleDark: #2e1350;
    --PurpleMid: #481f5f;
    --PurpleLight: #452874;
    --BlueDark: #275589;
    --BlueLight: #0caaa5;
}

body {
    background-color: var(--PurpleDark);
}