:root {
    --lightPurpleDark: #6f2dbd;
    --lightPurpleMid: #a663cc;
    --lightPurpleLight: #b298dc;
    --lightBlueDark: #b8d0eb;
    --lightBlueLight: #b9faf8;

    --DarkPurpleDark: #2e1350;
    --DarkPurpleMid: #481f5f;
    --DarkPurpleLight: #452874;
    --DarkBlueDark: #275589;
    --DarkBlueLight: #0caaa5;
}

body {
    background-color: var(--lightPurpleDark);
}