<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kangoroo</title>
    </head>

    <body>
        
        <body>
        
            <header>
    
            </header>
    
            <main>
                <section>
                    <button>storys q abre um modal com a imagem fofa</button>
                    <button>storys q abre um modal com a imagem fofa</button>
                    <button>storys q abre um modal com a imagem fofa</button>
                    <button>storys q abre um modal com a imagem fofa</button>
                </section>
                <section>
                    <img src="" alt="Imagem fofa da pessoa que postou">
                    <h3><b>Nome fofo da pessoa que postou</b></h3>
                    <img src="" alt="Publicação linda da pessoa">
                    <button>Botão de reações</button>
                    <button>Botão de comentários</button>
                    <button>Botão de enviar</button>
                    <h6><b>Nome da pessoa</b> descrição da foto</h6>
                    <button>Botão de ver comentários</button>
                </section>
            </main>
    
            <footer>
                <button>Botão de ir pra pag inicial</button>
                <button>Botão de ir pra tela de pesquisar</button>
                <button>Botão de abrir os chats</button>
                <button>Botão de abrir perfil</button>
            </footer>

    </body>
</html>