* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


body {
  background-color: var(--PurpleDark);
  padding: 10px;
  color: var(--textColor);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  font-size: 35px;
}

h4 {
  font-weight: normal;
  margin-block-start: 0.5em;
  margin-block-end: 0.2em;
}

nav {
  /* position: fixed; */
  float: left;
  max-width: 300px;
  width: 90%;
  background-color: var(--BlueDark);
  padding: 20px;
  border-radius: 10px;
  max-height: 250px;
}


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  


  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #9fccfa;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
    background: #0974f1;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #0974f1;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.6em);
  }


.quadrado {
  background-color: var(--BlueDark);
  max-width: 1000px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  min-width: 900px;
  /* margin-right: 20px; */
}

.topo {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 300px;
  width: 90%;
  float: right;
  max-height: 300px;
}







.icone {
  width: 80px;
  height: 80px;
  color: var(--textColor);
}

.nav_admin {
  display: flex;
  justify-content: space-around;
}
.nav_logout {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  text-decoration: none;
  color: var(--textColor);
}
.allUsers {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 25px;
}
.userInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--PurpleLight);
  border-radius: 30px;
}
.userPicture {
  border: var(--PurpleDark) solid 3px;
  height: 80px;
  border-radius: 50%;
  margin-right: 30px;
  width: 75px;
  object-fit: cover;
}