<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Kangoroo</title>
</head>

<body>

    <body>

        <header>
            <button data-toggle="modal" data-target="#modalPost">postar foto</button>
            <button>notificações</button>
        </header>

        <main>
            <section>
                <button>storys q abre um modal com a imagem fofa</button>
                <button>storys q abre um modal com a imagem fofa</button>
                <button>storys q abre um modal com a imagem fofa</button>
                <button>storys q abre um modal com a imagem fofa</button>
            </section>
            <section>
                <img src="" alt="Imagem fofa da pessoa que postou">
                <h3><b>Nome fofo da pessoa que postou</b></h3>
                <img src="" alt="Publicação linda da pessoa">
                <button>Botão de reações</button>
                <button>Botão de comentários</button>
                <button>Botão de enviar</button>
                <h6><b>Nome da pessoa</b> descrição da foto</h6>
                <button>Botão de ver comentários</button>
            </section>










            <!-- Modal -->
            <div class="modal fade" id="modalPost" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form action="/postPost/<%= id_user %>">
                                <div>
                                    <img src="" alt="post_image.png">
                                    <input type="file" name="new_post_image" accept="image/*">
                                </div>

                                <div>
                                    <label for="new_post_description"></label>
                                    <input id="new_post_description" name="new_post_description" type="text">
                                </div>
                                <button type="submit">feed</button>
                                <button type="submit">story</button>
                            </form>

                        

                        </div>
                    </div>
                </div>
            </div>
















        </main>

        <footer>
            <button>Botão de ir pra pag inicial</button>
            <button>Botão de ir pra tela de pesquisar</button>
            <button>Botão de abrir os chats</button>
            <button>Botão de abrir perfil</button>
        </footer>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </body>

</html>