<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/chats/controller.js" defer></script>
    <link rel="stylesheet" href="/css/chats/style.css">
    <title>Document</title>
</head>
<body>
    <div class="mensagems" id="messageBox">
        <!--Aqui serao mostradas as mensagens, nao mexer-->
    </div>
    <form method="post">
        <textarea name="message"></textarea>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>