
body {
    background-color: var(--PurpleDark);
    padding: 10px;
    color: var(--textColor);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background-color: var(--PurpleLight);
    box-shadow: inset 0px 0px 2px 1px var(--textColor);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--PurpleMid);
    box-shadow: inset 0px 0px 2px 3px var(--shadow);
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0px 0px 2px 4px var(--shadow);
}

h1 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    font-size: 35px;
    font-weight: bold;
}

h3 {
    font-weight: normal;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

h4 {
    font-weight: normal;
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
}

nav {
    max-width: 220px;
    width: 90%;
    background-color: var(--BlueDark);
    padding: 8px;
    border-radius: 10px;
    max-height: 300px;
    gap: 2rem;
}

input[type="file"] {
    display: none;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgPessoa {
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
    aspect-ratio: 1/1;
}

.nomeImg {
    position: fixed;
    background-color: var(--BlueDark);
    z-index: 20;
    max-width: 5%;
    width: 90%;
    border-radius: 15px;
    padding: 5px;
}

.nomeImg h3 {
    margin-left: 6px;
}

.iconeNav {
    max-width: 55px;
    width: 90%;
    margin-right: 1.5rem;
    min-width: 55px;
}

.aNav {
    display: flex;
    text-decoration: none;
    color: var(--textColor);
}

.logo {
    max-width: 300px;
    width: 90%;
    max-height: 300px;
}

.topo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.send {
    padding: 0;
    max-width: 25px;
    width: 90%;
    color: var(--white);
}

.inputDescricao {
    border-radius: 5px;
    height: 25px;
    max-width: 600px;
    width: 90%;
    resize: none;
    font-size: 20px;
    /* box-sizing: border-box; */
    overflow: hidden;
}

.formComentario {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 90%;
    z-index: 20;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    gap: 5px;
}

.chat {
    background-color: var(--BlueDark);
    max-width: 1000px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    min-width: 900px;
    margin-left: 10px;
    margin-right: 10px;
}

.mensagens {
    background-color: var(--PurpleLight);
    border-radius: 10px;
    max-width: 1000px;
    min-width: 600px;
    width: 90%;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    color: var(--textColor);
    word-wrap: break-word;

    display: flex;
    flex-direction: column;
}

.mensagens h3 {
    overflow-wrap: break-word;
    max-width: 80%;
}

.chat > .centralize {
    position: relative;
    max-height: 80vh;
    overflow: auto;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: hidden;
    display: flex;
}

.chat > .centralize::-webkit-scrollbar {
    width: 8px;
}

.chat > .centralize::-webkit-scrollbar-thumb {
    background-color: var(--PurpleDark);
    border-radius: 10px;
}
.chat > .centralize::-webkit-scrollbar-thumb:hover {
    background-color: var(--PurpleDarkHover);
}

.botao{
    float: right;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: none;
    background-color: var(--PurpleDark);
    z-index: 20;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--PurpleDarkHover);
}

.owner {
    background-color: var(--PurpleDark);
    color: var(--white);
    border-radius: 10px;
    margin-bottom: 5px;
    align-self: flex-end;
    text-align: end;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 50%;
}

.recipient {
    background-color: var(--PurpleMid);
    align-self: flex-start;
    text-align: start;
    max-width: 50%;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}