body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--PurpleDark);
    color: var(--textColor);
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1500px;
}

label {
    font-size: 1.2rem;
    border: none;
}

a {
    text-decoration: none;
}

input::placeholder {
    color: var(--textGrey);
}

input[type="file"] {
    display: none;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    max-width: 90%;
    width: 150px;
    cursor: pointer;
    border-radius: 50%;
    aspect-ratio: 1/1;
}


.rect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: var(--BlueDark);
    border-radius: 10px;
    max-height: 90vh;
    width: 36vw;
    padding: 10px;
    box-shadow: 0px 0px 15px 10px var(--shadow);
}

.imgFofa {
    display: flex;
    align-items: center;
    justify-content: center;
}


.title {
    font-size: 40px;
}

.input {
    display: flex;
    background-color: var(--PurpleMid);
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    color: var(--white);
    width: 30vw;
}

.group {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 30vw;
}

.btnEnter {
    background-color: var(--PurpleDark);
    color: var(--white);
    max-width: 30%;
    width: 300px;
    font-size: 140%;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}

#logo {
    max-width: 40%;
    width: 650px;
    height: auto;
}

.botoesinhos a {
    display: block;
    margin-bottom: 1rem;
    color: var(--PurpleDark);
}

#redirectRegister {
    margin-bottom: 12rem;
}

@media (max-width: 1100px) {
    #logo {
        display: none;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rect {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        border-radius: 10px;
        max-height: 90vh;
        width: 80vw;
        padding: 10px;
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        width: 80vw;
    }

    .input {
        display: flex;
        background-color: var(--PurpleMid);
        height: 35px;
        border-radius: 10px;
        padding: 5px;
        color: var(--white);
        width: 70vw;
    }

    .group {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

}