body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--PurpleDark);
    color: var(--textColor);
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1500px;
}

label {
    font-size: 1.2rem;
    border: none;
    margin-right: 2%;
}
a {
    text-decoration: none;
}

input::placeholder {
    color: var(--textGrey);
}

input[type="file"] {
    display: none;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    max-width: 90%;
    width: 200px;
    cursor: pointer;
    border-radius: 50%;
    height: 179px;
    margin-bottom: 1.5rem;
}


.rect {
    max-width: 650px;
    width: 90%;
    padding: 20px;
    padding-top: 1.5rem;
    background-color: var(--BlueDark);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 10px var(--shadow);
}

.title {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 40px;
}

.input {
    max-width: 80%;
    width: 800px;
    background-color: var(--PurpleMid);
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    color: var(--white);
}

.group {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    justify-content: space-between;
}

.btnEnter {
    background-color: var(--PurpleDark);
    color: var(--white);
    margin-top: 1rem;
    max-width: 30%;
    width: 300px;
    font-size: 140%;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 5px;
    cursor: pointer;
}

#logo {
    max-width: 40%;
    width: 650px;
    height: auto;
}

.botoesinhos a {
    display: block;
    margin-bottom: 1rem;
    color: var(--PurpleDark);
}

#redirectRegister {
    margin-bottom: 12rem;
}

/* .fundinho {
    background-color: rgb(249, 252, 255);
    border-radius: 50%;
} */